@import 'normalise.css';
/* Change the following options to fit your site,
* but you must have SASS or an equivalent SCSS compiler installed for it to do anything.
* If you don't understand or use LESS I highly recommend you do.
* It makes changes like those below amazingly simple.
*/
body {
  width: 100%;
  height: 100%;
  font-family: Georgia;
  background-color: #191818;
  font-size: 14px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav {
  width: 100%;
  height: auto;
  background-color: #000000;
  border-bottom: 2px solid #817c7c;
  float: left;
}
nav ul {
  width: 100%;
}
nav ul li {
  float: left;
  width: 210px;
  height: 60px;
  clear: left;
}
nav ul li ul li ul {
  width: 210px;
  float: left;
  position: relative;
  left: 210px;
  top: -60px;
}
nav > ul > li {
  clear: none;
}
nav > ul > li:first-child {
  margin: 0;
}
nav > ul > li > a {
  width: auto;
  padding-left: 0;
  text-align: center;
}
nav > ul > li > ul {
  position: relative;
}
a {
  text-decoration: none;
  height: 20px;
  width: 190px;
  background-color: #000000;
  margin: 0;
  padding: 20px 0 20px 20px;
  display: block;
  color: #cccaca;
}
a:hover {
  background-color: #000000;
}
h1 {
  color: #c0bdbd;
  font-size: 7rem;
}
h2 {
  color: #c0bdbd;
}
.darken {
  color: #b3b0b0;
}
.content {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 25px;
  float: left;
  color: #9a9696;
  font-size: 1.4rem;
}
.col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.one {
  width: 70%;
  padding-right: 10px;
}
.two {
  width: 30%;
}
