/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// -----------------------------------------------

/* Change the following options to fit your site,
* but you must have SASS or an equivalent SCSS compiler installed for it to do anything.
* If you don't understand or use SASS I highly recommend you do.
* It makes changes like those below amazingly simple.
*/


$width: 180px;
$height: 20px;
$sidePadding: 20px;
$topAndBottomPadding: 5px;
$borderSide: 1px;
$borderTop: $borderSide;

$fullWidth: $width + $sidePadding;

body {
    width: 100%;
    height: 100%;
}
ul {
    margin:0;
    padding: 0;
    list-style-type: none;
}
nav ul {
    width: 100%;

    li { //Styles apply to ALL list items
        float: left;
        width: $width + $sidePadding + ($borderSide * 2);
        height: $height + ($topAndBottomPadding * 2) + $borderTop;
        clear: left;
        ul {

            li ul { //Styles apply to lists items EXCEPT the first two levels
                width: $width + $sidePadding + ($borderSide * 2);
                float: left;
                position: relative;
                left: $width + $sidePadding + $borderSide;
                top: -($height + ($topAndBottomPadding * 2) + ($borderTop * 2));
            }
        }
    }
}

nav > ul {
    :first-child {
        margin: 0;
    }
    > li{
        clear: none;
        margin-left: -$borderSide;
        > a {
            width: auto;
            padding-left: $sidePadding;
        }
        > ul {
            position: relative;
            top: -$borderTop;
        }
    }
}

a {
    text-decoration:none;
    height: $height;
    width: $width;
    background-color: #FFF;
    margin:0;
    padding: $topAndBottomPadding 0 $topAndBottomPadding $sidePadding;
    display: block;
    color: #333;
    border: solid #DDD;
    border-width: $borderTop $borderSide;
}
a:hover {
    background-color: #DDD;
}